<% name = current_user.present? ? current_user.first_name + ' ' + current_user.last_name : 'Stranger' %>

<h1>Welcome, <%= name %> </h1>
<% if current_user.present? %>
  <%= link_to 'Surveys', surveys_path %>
<% else %>
  <p>Please sign in to fill surveys</p>
<% end %>
